/* Reset */

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  color-scheme: dark light;
}

input, button, select, textarea{
  font-size: inherit;
}

body{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;

}

.App{
  display: flex;
  justify-content: space-between;
  
}

